
@{
    ViewBag.Title = "View_RosterScheduleEntry";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Estiak -->
<link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="~/FrontEnd/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- Toastr -->
<link rel="stylesheet" href="~/FrontEnd/plugins/toastr/toastr.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
<link href="~/FrontEnd/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
    .select2 {
        width: 100% !important;
    }

    .RedText {
        color: red;
    }

    input[type=text] {
        width: 100% !important;
    }


    textarea {
        width: 100% !important;
    }

    .dataTables_filter {
        margin-left: -80px !important;
    }

    .linkbutton1 {
        border: 1px solid #2c7cb0;
        font-size: 9px;
        padding: 5px;
        text-decoration: none;
        height: 50px;
        width: 60px;
        padding-top: 13px;
        background-color: #2c7cb0;
        color: #ffffff;
        font-weight: bold;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
        border-color: #80bdff;
        height: 37px !important;
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 4px;
        height: 37px !important;
        width: 100% !important;
    }


    #btnSubmit, #btnSubmit2, #btnClear, #btnDelete, #btnPrint {
        box-shadow: 0 0.125rem 0.625rem rgba(0, 6, 3, 0.4), 0 0.0625rem 0.125rem rgba(255, 255, 255, 0.5);
        width: 100px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,0);
    }
</style>

<section class="content-header" style="padding-bottom: 0;">
    <div class="container-fluid">
        <div class="callout callout-info" style="padding: 10px;">
            <div class="row mb-2" style="height: 19px;">
                <div class="col-md-8 row">
                    <ul class="breadcrumb float-sm-right" id="mymenu">
                        <li class="" style="margin-right: 2px; margin-left: 5px;"><a href='@Url.Action("View_Company", "Company")' class=" btn btn-sm btn-outline-secondary" style="text-decoration:none"> Company </a></li>
                        <li class="" style="margin-right: 2px;"><a href='@Url.Action("View_Department", "Department")' class=" btn btn-sm btn-outline-secondary" style="text-decoration:none"> Department </a></li>
                        <li class="" style="margin-right: 2px;"><a href='@Url.Action("View_Designation", "Designation")' class=" btn btn-sm btn-outline-secondary" style="text-decoration:none"> Designation </a></li>
                        <li class="" style="margin-right: 2px;"><a href='@Url.Action("AddOrEdit", "AttendenceType")' class=" btn btn-sm btn-outline-secondary" style="text-decoration:none"> Att. Type </a></li>
                        <li class="" style="margin-right: 2px;"><a href='@Url.Action("View_RosterScheduleEntry", "RosterScheduleEntry")' class=" btn btn-sm btn-outline-secondary active" style="text-decoration:none"> Roster</a></li>
                        <li class="" style="margin-right: 2px;"><a href='@Url.Action("Vw_Shift", "Shift")' class=" btn btn-sm btn-outline-secondary" style="text-decoration:none"> Shift </a></li>
                        <li class="" style="margin-right: 2px;"><a href='@Url.Action("View_CompanyWeekend", "CompanyWeekend")' class=" btn btn-sm btn-outline-secondary" style="text-decoration:none"> Weekend </a></li>
                        <li class="" style="margin-right: 2px;"><a href='@Url.Action("Vew_Holiday", "Holiday")' class=" btn btn-sm btn-outline-secondary" style="text-decoration:none"> Holiday </a></li>
                        <li class="" style="margin-right: 2px;"><a href='@Url.Action("Vew_LeaveType", "LeaveType")' class=" btn btn-sm btn-outline-secondary" style="text-decoration:none"> Leave Type </a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Leave Type Info</li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card card-primary ">                  
                    <div class="card-body" style="padding-left: 7px; padding-right: 8px;">
                        <div class="card-body">
                            <div class="row" style="padding:5px">
                                <div class="col-lg-6">
                                    <label for="inputName">Company</label>                                    
                                    @Html.DropDownList("ddlCompany", (SelectList)ViewBag.LoadCompany,new { @class = "selectpicker" })
                                </div>
                                <div class="col-lg-6">
                                    <label for="inputName">Department</label>
                                    @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.LoadDepartment, "--All--", new { @class = "selectpicker" })
                                </div>
                            </div>
                            <div class="row" style="padding:5px">
                                <div class="col-lg-6">
                                    <label for="inputName">Designation</label>
                                    @Html.DropDownList("ddlDesignation", (SelectList)ViewBag.LoadDesignation, "--All--", new { @class = "selectpicker" })
                                </div>
                                <div class="col-lg-6">
                                    
                                </div>
                            </div>
                            <div style=" padding-top: 17px; border-top: 1px solid black; margin-top: 15px;">
                                <table id="tblRosterEmployee" class="table  table-condensed table-hover table-striped table-bordered display responsive nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><input id="chkAll" name="chkAll" value="1" type="checkbox"></th>
                                            <th style="text-align:left">Employee ID</th>
                                            <th style="text-align:left">Employee Name</th>
                                            <th style="text-align:center">Department</th>
                                            @*<th style="text-align:center">Designation</th>*@
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <span id="message"></span>
                            </div>
                            <div class="col-lg-6">
                                <label id="hidValue" style="display:none"></label>
                            </div>
                        </div>

                        <div class="row no-print" style="margin-top: 9px; display:none;">
                            <div class="col-12">
                                <button type="button" style="border-radius:18px; font-size:12px; border: none; float:right " id="btnSubmit2" class=" btn-shadow btn-wide btn btn-success waves-effect waves-light">
                                    <span class="btn-icon-wrapper pr-2 opacity-7"><i class="fas fa-plus"></i></span>Save
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card card-secondary">
                    <div class="card-header" style="background-color:#ffffff">
                        <i class="fas fa-save" style="font-size:20px; color:black">  Roster Schedule Entry</i>
                        <div class="card-tools">
                            <div class="btn-group" style="float: right;">
                                <div class=" col-md-3" style="border-right: 1px solid #a59191;">
                                    <button type="button" style="border-radius:18px; width: 74px; font-size:12px; border: none; float:left; height: 25px; padding: 3px; " id="btnSubmit" class=" btn-shadow btn-wide btn btn-success waves-effect waves-light">
                                        <span class="btn-icon-wrapper pr-3 opacity-7"><i class="fas fa-plus"></i></span>Save
                                    </button>
                                </div>
                                <div class="col-md-3" style="border-right: 1px solid #a59191;">
                                    <button type="button" style="border-radius:18px; width: 74px;  font-size:12px; border: none; height: 25px; padding: 3px; " id="btnClear" class=" btn-shadow btn-wide btn btn-default waves-effect waves-light">
                                        <span class="btn-icon-wrapper pr-3 opacity-7"><i class="fas fa-sync"></i></span>Clearr
                                    </button>
                                </div>
                                <div class="col-md-3" style="border-right: 1px solid #a59191;">
                                    <button type="button" style="border-radius:18px; width: 74px; font-size:12px; border: none; height: 25px; padding: 3px; " id="btnDelete" class=" btn-shadow btn-wide btn btn-danger waves-effect waves-light">
                                        <span class="btn-icon-wrapper pr-3 opacity-7"><i class="fas fa-trash"></i></span>Delete
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" style="border-radius:18px; width: 74px; font-size:12px; border: none; height: 25px; padding: 3px; " id="btnPrint" class=" btn-shadow btn-wide btn btn-dark waves-effect waves-light float-md-right">
                                        <span class="btn-icon-wrapper pr-3 opacity-7"><i class="fas fa-print"></i></span>Print
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row" style="display:none">
                            <div class="col-lg-6">
                                <label for="inputName">ID</label>
                                <span class="RedText">&nbsp;*</span>
                                <input type="text" id="txtRosterScheduleId" class="form-control" readonly="readonly"
                                       value="@(ViewBag.MaxComID ?? String.Empty)">
                            </div>
                        </div>
                        <div class="row" style="padding:5px">
                            <div class="col-lg-6">
                                <label for="inputName">Date From</label>
                                <span class="RedText">&nbsp;*</span>
                                <div class="input-group">
                                    <input type="text" id="txtFromDate" class="form-control" placeholder="Date From" style="width:100%">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-calendar-check" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="inputName">To</label>
                                <span class="RedText">&nbsp;*</span>
                                <div class="input-group">
                                    <input type="text" id="txtToDate" class="form-control" placeholder="Date To" style="width:100%">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-calendar-check" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding:5px">
                            <div class="col-lg-6">
                                <label for="inputName">Shift</label>
                                <span class="RedText">&nbsp;*</span>
                                @Html.DropDownList("ddlShift", (SelectList)ViewBag.LoadShift, "--Select Type--", new { @class = "selectpicker" })
                            </div>
                            <div class="col-lg-6">
                                <label for="inputName">Remarks</label>
                                <input type="text" id="txtRemnark" class="form-control" placeholder="Remarks" style="width:100%" />
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
                <!-- /.card -->
                <div class="card">
                    <div class="card-body" style="padding-left: 7px; padding-right: 8px;">
                        <div class="card-body">
                            <table id="tblSaveRosterEmployee" class="table  table-condensed table-hover table-striped table-bordered display responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>                                        
                                        <th style="text-align:left">Employee ID</th>
                                        <th style="text-align:left">Employee Name</th>
                                        <th style="text-align:center">Date</th>
                                        <th style="text-align:center">Shift</th>
                                        <th style="text-align:center">Remarks</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <span id="message"></span>
                            </div>
                            <div class="col-lg-6">
                                <label id="hidValue" style="display:none"></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="padding-bottom:12px">
            <div class="col-12">
                <a href="#" class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-up"></i></a>

                <input type="submit" value="Home" class="btn btn-success float-right">
            </div>
        </div>
    </div>

</section>

<script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
<script src="~/FrontEnd/plugins/umd/popper.min.js"></script>
<script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/FrontEnd/plugins/datatables/jquery.dataTables.min.js"></script>
<link href="~/FrontEnd/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/FrontEnd/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/FrontEnd/plugins/select2/js/select2.min.js"></script>
<script src="~/FrontEnd/jquery.timepicker.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" type="text/javascript"></script>


<!-- Bootstrap 4 -->
<script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- SweetAlert2 -->
<script src="~/FrontEnd/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="~/FrontEnd/plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/FrontEnd/dist/js/demo.js"></script>
<script type="text/javascript">
    const Toast = Swal.mixin({

        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 6000,
    });
    $(document).ready(function () {
        var rows_selected = [];

        var CompanyCode = "";
        var DepartmentCode = "";
        var DesignationCode = "";
        LoadRosterEmployee(CompanyCode, DepartmentCode,DesignationCode,rows_selected);
        LoadGrid();


        $('#btnClear').click(function (event) {
            event.preventDefault();
            Clear();
        });

        function MaxID() {
            $("#txtRosterScheduleId").val("");
            $.ajax({
                type: "POST",
                url: '@Url.Action("MaxNo", "RosterScheduleEntry")',
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var message = $("#message");
                    if (response) {
                        $("#txtLeaveTypeId").val(response);
                    }
                    else {
                        message.css("color", "red");
                        message.html("Already Exists");
                    }
                }
            });
        }
        function Clear() {
            MaxID();
            $("#txtFromDate").val("");
            $("#txtToDate").val("");
            $("#ddlShift").val("").change();;
            $("#txtRemnark").val("");
            $("#ddlCompany").val("").change();
            $("#ddlDepartment").val("").change();
            $("#ddlDesignation").val("").change();

            $('#tblRosterEmployee thead input[name="chkAll"]').prop('checked', false);
            $('#tblRosterEmployee tbody input[type="checkbox"]').prop('checked', false);
        }
        //eval(function (p, a, c, k, e, r) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) r[e(c)] = k[c] || e(c); k = [function (e) { return r[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]); return p }('4 j(){k 9;9=$(\'#l\').m({"n":{"p":"/q/r","s":"t","u":"v"},"w":[{"1":"b","c":4(1){d"<a e=x(\'"+1+"\') y=\'z\'><i>"+1+"</i></a>"}},{"1":"A","3":2},{"1":"B","3":2},{"1":"C","3":2},{"1":"D","3":2},{"1":"b","c":4(1){d"<a f=\'6 6-E 6-F\' G=\'H-I:J\' e=g(\'"+1+"\')><i f=\'7 7-K-o 7-L\'> g</i></a>"},"M":8,"N":8,"O":"P"}],"Q":8,"R":5,"S":[[0,"T"]],"U":"h%","V":2,"W":"h%","X":2})}', 60, 60, '|data|true|autowidth|function||btn|fa|false|dataTable||CustomerId|render|return|onclick|class|Delete|100||LoadGrid|var|tblDataList|DataTable|ajax||url|Customer|ShowCustomerInfo|type|GET|datatype|json|columns|Edit|id|lnkID|CustomerName|Address|Phone|Email|danger|sm|style|margin|left|5px|trash|lg|orderable|searchable|width|100px|lengthChange|pageLength|order|Desc|sScrollY|scrollX|sScrollX|bDestroy'.split('|'), 0, {}))
        $('#btnSubmit, #btnSubmit2').click(function (event) {
            event.preventDefault();
            //This prevents the default action
            if ($("#txtFromDate").val() == "") {
                Toast.fire({
                    icon: 'error',
                    title: '  Please Select From Date',
                })
                return;
            }
            if ($("#txtToDate").val() == "") {
                Toast.fire({
                    icon: 'error',
                    title: '  Please To Date',
                })
                return;
            }
            if ($("#ddlShift").val() == "") {
                Toast.fire({
                    icon: 'error',
                    title: '  Please select Shift',
                })
                return;
            }

            //if ($("#txtRemnark").val() == "") {
            //    Toast.fire({
            //        icon: 'error',
            //        title: '  Please give Remnark',
            //    })
            //    return;
            //}

            $.ajax({
                async: true,
                type: "POST",
                url: '@Url.Action("View_RosterScheduleEntry", "RosterScheduleEntry")',
                data: { //Passing data
                    RosterScheduleId: $("#txtRosterScheduleId").val(),
                    RsemployeeID: rows_selected,
                    FromDate: $("#txtFromDate").val(),
                    ToDate: $("#txtToDate").val(),
                    ShiftCode: $("#ddlShift").val(),
                    Remark: $("#txtRemnark").val()
                },
                success: function (data) {
                    if (data.success == true) {
                        Clear();
                        LoadGrid();
                        Toast.fire({
                            icon: 'success',
                            title: 'Data Save Successfully!'
                        })
                    }
                    else {

                        Toast.fire({
                            icon: 'error',
                            title: data.message,
                        })
                    }
                }

            });

        });

        $('#btnDelete').click(function (event) {
            event.preventDefault();
            Delete();
        });

        // Start SelectPicker//

        $('#txtFromDate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '2010:2100',
            maxDate: '87Y'

        });

        $('#txtToDate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '2010:2100',
            maxDate: '87Y'
        });



        $("input:text,form").attr("autocomplete", "off");

        function Delete() {
            if (confirm('Are you Sure to  Delete Data ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "RosterScheduleEntry")',
                    data: { //Passing data
                        RsemployeeID: rows_selected,
                        FromDate: $("#txtFromDate").val(),
                        ToDate: $("#txtToDate").val()
                    },
                    success: function (data) {

                        if (data.success == true) {

                            Clear();
                            LoadGrid();
                            Toast.fire({
                                icon: 'success',
                                title: data.message,
                            })
                        }
                        else {
                        }
                    }
                });
            }
        }

        $('.selectpicker').select2({
            language: {
                noResults: function () {
                    //return 'Not found <a class="add_new_item" href="javascript:void(0)">Add New</a>';
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            }
        });


        $('#ddlCompany').on('change', function () {

            var DepartmentCode = "";
            var CompanyCode = $("#ddlCompany").val();
            var DesignationCode = "";
            LoadRosterEmployee(CompanyCode, DepartmentCode, DesignationCode, rows_selected);
        });

        $('#ddlDepartment').on('change', function () {
            var CompanyCode = "";
            var DepartmentCode = $("#ddlDepartment").val();
            var DesignationCode = "";
            LoadRosterEmployee(CompanyCode, DepartmentCode, DesignationCode, rows_selected);
        });

        $('#ddlDesignation').on('change', function () {
            var CompanyCode = "";
            var DepartmentCode = "";
            var DesignationCode = $("#ddlDesignation").val();
            LoadRosterEmployee(CompanyCode, DepartmentCode, DesignationCode, rows_selected);
        });

        $('#tblRosterEmployee tbody').on('click', 'input[type="checkbox"]', function (e) {
            var $row = $(this).closest('tr');
            var data = $('#tblRosterEmployee').DataTable().row($row).data();
            var rowId = data["EmployeeID"];
            var ar = {};
            ar["EmployeeID"] = rowId;
            var index = rows_selected.findIndex(x => x.EmployeeID === rowId)
            if (this.checked && index === -1) {
                rows_selected.push(ar);
            } else if (!this.checked && index !== -1) {
                rows_selected.splice(index, 1);
            }
            if (this.checked) {
                $row.addClass('selected');
            } else {
                $row.removeClass('selected');
            }
            console.log(rows_selected);
            updateDataTableSelectAllCtrl();
            e.stopPropagation();
        });

        $('#tblRosterEmployee thead input[name="chkAll"]').on('click', function (e) {
            rows_selected = [];
            if (this.checked) {
                $('#tblRosterEmployee tbody input[type="checkbox"]:not(:checked)').trigger('click');
            } else {
                $('#tblRosterEmployee tbody input[type="checkbox"]:checked').trigger('click');
            }
            console.log(rows_selected);
            e.stopPropagation();
        });

    });

    function updateDataTableSelectAllCtrl() {
        var $table = $('#tblRosterEmployee').DataTable().table().node();
        var $chkbox_all = $('tbody input[type="checkbox"]', $table);
        var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
        var chkbox_select_all = $('thead input[name="chkAll"]', $table).get(0);

        if ($chkbox_checked.length === 0) {
            chkbox_select_all.checked = false;

        } else if ($chkbox_checked.length === $chkbox_all.length) {
            chkbox_select_all.checked = true;
        } else {
            chkbox_select_all.checked = false;
        }
    }

    function LoadRosterEmployee(CompanyCode, DepartmentCode, DesignationCode, rows_selected) {

        var table = $('#tblRosterEmployee').DataTable({
                "ajax": {
                "url": '@Url.Action("ShowRosterEmployee", "RosterScheduleEntry")',
                "type": "GET",
                "data": { CompanyCode: CompanyCode, DepartmentCode: DepartmentCode, DesignationCode: DesignationCode },

                "datatype": "json"
            },
                "columns": [
                { "data": "EmployeeID", defaultContent: '' },
            { "data": "EmployeeID", "autowidth": true },
                { "data": "FirstName", "autowidth": true },
                { "data": "DepartmentName", "autowidth": true }
                //{ "data": "DesignationName", "autowidth": true }
             ],
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'width': '1%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox">';
                    }
                }],
            'order': [[1, 'asc']],
            "pageLength": 12,
                'rowCallback': function (row, data, dataIndex) {
                    // Get row ID
                    var rowId = data[0];

                    // If row ID is in the list of selected row IDs
                    if ($.inArray(rowId, rows_selected) !== -1) {
                        $(row).find('input[type="checkbox"]').prop('checked', true);
                        $(row).addClass('selected');
                    }
                },
                "lengthChange": true,
            "pageLength": 10,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bDestroy": true,
            });
    }


    function LoadGrid() {

        @*var dataTable = $('#tblSaveRosterEmployee').DataTable({
            "ajax": {
                "url": '@Url.Action("LoadInfo", "RosterScheduleEntry")',
                "type": "GET",
                "datatype": "json"
            },
            "columns": [

                { "data": "EmployeeID", "autowidth": true },
                { "data": "EmployeeName", "autowidth": true },
                { "data": "Date",  "autowidth": true },
                { "data": "ShiftName", "autowidth": true },
                { "data": "Remark", "autowidth": true }

            ],
            "columnDefs": [
                { "className": "text-center", targets: [2,3] }
            ],
            "lengthChange": true,
            "pageLength": 10,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],



        });*@

        var dataTable;
        dataTable = $('#tblSaveRosterEmployee').DataTable({
            "ajax": {
                "url": '@Url.Action("LoadInfo", "RosterScheduleEntry")',
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "EmployeeID", "autowidth": true },
                { "data": "EmployeeName", "autowidth": true },
                { "data": "Date", "autowidth": true },
                { "data": "ShiftName", "autowidth": true },
                { "data": "Remark", "autowidth": true }
            ],

            "lengthChange": false,
            "pageLength": 10,
            "order": [[1, "Desc"]],

            "bDestroy": true

        });
    }
</script>
